<% provide(:title, @user.cname) %>
<h1>
	<i class='icon-ok'></i>
	<span>ID : <%= @user.id %></span>
</h1>
<h1>
	<i class='icon-ok'></i>
	<span>EName : <%= @user.ename %></span>
</h1>
<h1>
	<i class='icon-ok'></i>
	<span>CName : <%= @user.cname %></span>
</h1>
<h1>
	<i class='icon-ok'></i>
	<span>Email : <%= @user.email %></span>
</h1>
<h1>
	<i class='icon-ok'></i>
	<span>Branch_code : <%= @user.branch_code %></span>
</h1>
<h1>
	<i class='icon-ok'></i>
	<span>Role_id : <%= @user.role_id %></span>
</h1>
<h1>
	<i class='icon-ok'></i>
	<span>Created_at : <%= @user.created_at %></span>
</h1>
<h1>
	<i class='icon-ok'></i>
	<span>Updated_at : <%= @user.updated_at %></span>
</h1>
<h1>
	<i class='icon-ok'></i>
	<span>password_digest : <%= @user.password_digest %></span>
</h1>
