<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shiv' %>
</head>
<body class ='contrast-fb'>
	<%= render 'layouts/header' %>
	<div id='wrapper'>
		<div id='main-nav-bg'></div>
		<%= render 'layouts/nav' %>
    <section id='content'>
      <div class='container-fluid'>
        <div class='row-fluid' id='content-wrapper'>
          <div class='span12'>
        		<% flash.each do |key, value| %>
        			<%= content_tag(:div, value, class: "alert alert-#{key}" ) %>
        		<% end %>
        		<%= yield %>
        		<%= debug(params) if Rails.env.development? %>
          </div>
        </div>
      </div>
    </section>
	</div>
</body>
</html>
