<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shiv' %>
</head>
<body class='contrast-fb sign-up contrast-background'>
	<div id='wrapper'>
    	<div class='application'>
        	<div class='application-content'>
            	<%= link_to '#' do %>
                	<div class='icon-heart'></div>
                	<span>My Web App</span>
            	<% end %>
        	</div>
    	</div>
		<%= yield %>
	</div>
	<%= debug(params) if Rails.env.development? %>
</body>
</html>